.welcome {
    display: flex;
    justify-content: flex-end;
    padding-top: 98px;
    padding-right: 109px;
    padding-left: 109px;
    padding-bottom: 94px;
    background-color: $background-color;
    background-image: url('../../images/leaf2.png'), url('../../images/leaf1.png'), url('../../images/leaf4.png'), url('../../images/leaf3.png'), url('../../images/leaf5.png');
    background-repeat: no-repeat;
    background-size: 270px 177.84px, 100.23px 70.89px, 90.33px 71.57px, 200.49px 160.86px, 130.93px 80.01px;
    background-position: 128px 62px, 366.93px 172.99px, 109px 262.66px, 211.17px 270.6px, 400.12px 310px;


}

.welcome-block {
    width: 549px;
}

.welcome-title {
    @include font(700, 45px, 1.11);
    color: map-get($text-colors, 'grey-title');
    margin-bottom: 42px;
}

.title-plants {
    color: $green-color;
}

.welcome-text {
    @include font(400, 20px, 1.75);
    color: map-get($text-colors, 'grey-text');
    margin-bottom: 48px;
}

.welcome-button {
   @extend %button;
   @include font(400, 16px, 1.25);
    color: $black-color;

    width: 158px;
    height: 44px;
    border: 2px solid $orange-color;
    border-radius: 10px;
    background-color: transparent;

    transition: background-color 250ms linear, color 250ms linear;

    &:hover,
    &:focus {
            color: $white-color;
            background-color: $orange-color;
        }
}

