
    $background-color: #EDF2EC;
    $green-color: #499A18;
    $orange-color: #E06733;
    $black-color: #000000;
    $white-color: #ffffff;

    $text-colors:(
          'grey-title': #717171,
          'grey-text': #636060,
          'links-nav': #010201,
          )
  
